<%- if @response %>
  content  = '<div class="exercise-preview">';
  content += '  <div class="card">';
  content += '    <div class="container-fluid">';
  content += '      <div class="wrapper row">';
  content += '        <div class="preview col-md-6"> <div class="preview-pic tab-content"> <div class="pic tab-pane active"></div> </div> </div>';
  content += '        <div class="details col-md-6">';
  content += '          <h3 class="product-title"></h3>';
  content += '          <div class="rating">';
  content += '            <span class="review-no"></span>';
  content += '            <p class="product-description"></p>';
  content += '            <h4 class="price"> current price: <p class="exercise_time_cost"></p> </h4>';
  content += '            <div class="exercises-alerts"></div>';
  content += '            <div class="action"></div>';
  content += '        </div>';
  content += '      </div>';
  content += '    </div>';
  content += '  </div>';
  content += '</div>';

  $('.exercise-slot-js').html(content);

  $('.exercise_time_cost').html('<%= seconds_to_s(@object.time_benefit) %>');
  $('.review-no').html('<%= "#{@object.users.count} veces comprado" %>');
  $('.product-description').html('<%= simple_format(@object.statement).gsub("\n", "") %>');
  $('.pic').html('<%= image_tag @object.icon.url(:medium), class: 'img-thumbnail' %>');
  $('.product-title').html('<%= @object.title.titleize %>');

  <%- if @my_deliveries.where(exercise: @object).no_corregido.any? %>
    $('.product-title').append('<span class="badge badge-success"><%= @my_deliveries.where(exercise: @object).no_corregido.first.status %></span>');
  <% end %>

  <%- if @my_deliveries.count == @my_deliveries.corregido.count %>
    $('.action').html('<%= link_to 'Buy', padawan_viveres_purchase_exercise_path(exercise_id: @object), class: 'add-to-cart btn btn-default', remote: true %>');
  <% else %>
    <%- if @my_deliveries.where(exercise: @object).no_corregido.any? %>
      $('.exercises-alerts').html('<div class="alert alert-info"><strong>Ejercicio comprado</strong></div>');
      $('.action').html('<%= link_to 'Entregar', padawan_viveres_purchase_exercise_path(exercise_id: @object), class: 'add-to-cart btn btn-default', remote: true %>');
      $('.action').append('<%= link_to 'Cancelar Compra', padawan_viveres_rewind_exercise_path(exercise_id: @object), class: 'add-to-cart btn btn-default', remote: true %>');
    <% else %>
      $('.exercises-alerts').html('<div class="alert alert-warning"><strong>Ya has comprado un ejercicio</strong></div>');
    <% end %>
  <% end %>

  var datetime = new Date('<%= @tdv %>');
  countdown_date = new Date(datetime);
  $('.countdown').removeClass('highlight').countdown('option', {until: countdown_date});

<%- else %>
  $('.alert-content').html('<%= render 'application/alert', alert_class: 'danger', text: 'Se produjo un error' %>');
<%- end %>