content  = '<div class="exercise-preview">';
content += '  <div class="card">';
content += '    <div class="container-fluid">';
content += '      <div class="wrapper row">';
content += '        <div class="preview col-md-6">';
content += '          <div class="preview-pic tab-content">';
content += '            <div class="pic tab-pane active">';
content += '              <%= image_tag @object.icon.url(:medium), class: 'img-thumbnail' %>';
content += '            </div>';
content += '          </div>';
content += '        </div>';
content += '        <div class="details col-md-6">';
content += '          <h3 class="product-title">';
content += '            <%= @object.title.titleize %>';
<%- if @my_deliveries.where(exercise: @object).no_corregido.any? %>
  content += '            <span class="badge"><%= @my_deliveries.where(exercise: @object).no_corregido.first.status %></span>';
<% end %>
content += '          </h3>';
content += '          <div class="rating">';
content += '            <span class="review-no"><%= @object.users.count %> veces comprado</span>';
content += '          <p class="product-description"><%= @object.statement %></p>';
content += '          <h4 class="price">';
content += '            current price:';
content += '            <p> <%= seconds_to_s(@object.time_benefit) %> </p>';
content += '          </h4>';
<%- if @my_deliveries.count == @my_deliveries.corregido.count %>
  content += '          <div class="action">';
  content += '            <%= link_to 'Buy', padawan_viveres_purchase_exercise_path(exercise_id: @object), class: 'add-to-cart btn btn-default', remote: true %>';
  content += '          </div>';
<% else %>
  <%- if @my_deliveries.where(exercise: @object).no_corregido.any? %>
    content += '<div class="alert alert-info"><strong>Ejercicio comprado</strong></div>';
  <% else %>
    content += '<div class="alert alert-info"><strong>Ya has comprado un ejercicio</strong></div>';
  <% end %>
<% end %>
<%- if @my_deliveries.count != @my_deliveries.corregido.count && @my_deliveries.where(exercise: @object).no_corregido.any?%>
  content += '          <div class="action">';
  content += '            <%= link_to 'Entregar', padawan_viveres_purchase_exercise_path(exercise_id: @object), class: 'add-to-cart btn btn-default', remote: true %>';
  content += '          </div>';
<% end %>
content += '        </div>';
content += '      </div>';
content += '    </div>';
content += '  </div>';
content += '</div>';

$('.exercise-slot-js').html(content);